<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
        {% if ip_list %}
            <ul>
            {% for ip_addr in ip_list %}
                <li><a>{{ ip_addr }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No IPs available</p>
        {% endif %}
            


  </body>
</html>






