<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href={% url "index" %}>HOME</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={% url "subnet_scan" %}>Subnet Scan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Placeholder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Placeholder</a>
          </li>
        </ul>
        <span class="navbar-text me-3">
          IP Check:
        </span>
        <form class="d-flex" role="search" action="{% url "ip_check" %}" method=POST>
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="XXX.XXX.XXX.XXX" aria-label="Search" name="ip_check_field">
          <button class="btn btn-dark btn-outline-warning" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>